@import '../../mixin.scss';
.mainProducts{
    color: var(--white);
    position: absolute;
 
    margin-top: 80px
    ;
    padding-top: 110px !important;
    width: 100%;
    padding-bottom: 100px;
 
       
    background-color: var(--black3);
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    @include md{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .Products{
        ul{
            list-style: none;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            li{
                margin-top: 35px;
                margin-bottom: 10px;
                align-items: center;
            }
         
          
        }
        .navigation-link {
         
            text-decoration: none;
       
          
            color: white;
             // Your desired link color
             font-size: 1.3rem;
            font-weight: 800;
            line-height: 2rem;
       
         
          
            &:hover {
              text-decoration: underline; // Add underline on hover
              color: var(--Green);
            }
          }
    }
    .Rights{
        // margin-top: 50px;
        margin-bottom: 50px;
        ul{
            list-style: none;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            li{
                margin-top: 35px;
                margin-bottom: 10px;
                align-items: center;
            }
         
          
        }
        .navigation-link {
         
            text-decoration: none;
       
          
            color: white;
             // Your desired link color
             font-size: 1.3rem;
            font-weight: 800;
            line-height: 2rem;
       
         
          
            &:hover {
              text-decoration: underline; // Add underline on hover
              color: var(--Green);
            }
          }
    }
}