@import '../../../mixin.scss';
.offering-main{
display: flex;
justify-content: center;
// width: 100%;
flex-direction: column;
// align-items: center;
color: var(--black);
margin-top: 35px;
// margin: 30px;

font-weight: 600;
hr{ 
    
    
    // margin: 0 auto;
    border: 2px solid var(--Green);
    width: 50px;
    margin-left: 45px;
    margin-top: -20px;
    @include md{
        margin: 0px;
        margin: 0 auto;
    }
   
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;

    // font-size: 1rem;
     
      font-family: "Work Sans", sans-serif;
      font-weight: 800;
      
     
      margin-top: 0.7em;
}


.fantasy2{
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: space-between;
    background-color: var(--whiteMintCream);
    padding
    : 30px;

}
.fantasy3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding
    : 30px;
}
.fantasy4{
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: space-between;
    background-color: var(--whiteHoneydew);
    padding
    : 30px;
}
.Fantasy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding
    : 30px;
    .fantasyimg{
        width: 350px;
        img{
            width: 350px;
            padding-top: 30px;
            @include md{
        
                width: 500px;
                
                
              }
    
        }
        @include md{
        
            width: 500px;
            
            
          }

      }
    .FantasyText{
        width: 350px;
        @include md{
            width: 450px;
        }


    }
    p{
        font-size: 1rem;
        margin-top: 30px;
        line-height: 2rem;
        padding: 3px;

    }
    h2,h3{
        font-size: 1.4rem;
      font-weight: 500;
        line-height: 2.5rem;
        @include md{
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .learn-more-button{
        display: inline-block;
        padding: 10px 20px; /* Adjust padding for button size */
        background-color: #007bff; /* Button background color */
        color: #fff; /* Button text color */
        text-decoration: none; /* Remove underline from link */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s ease;
        margin-top: 10px;
        &:hover{
            background-color: #0056b3;
        }
    }
    @include md{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        
      }
     

     
}

}